.api-list-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 1rem;
}

.api-list-heading {
  color: $gray-500;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.api-list-filters-container {
}

.api-list-items-container {
  box-shadow: $shadow-lg;
  overflow: hidden;
  border-radius: 0.375rem;
  border: 1px solid $gray-200;
  margin: 0.75rem 0rem;
}
