.dashboard {
  display: flex;
  width: 100vw;
}

.dashboard-sidebar-wrapper {
  max-width: 16rem;
}

.dashboard-contents-container {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.dashboard-panel-wrapper {
  width: 28rem;
  min-width: 28rem;
  border: 1px solid yellowgreen;
}
