.dashboard {
  display: flex;
  width: 100vw;
}

.dashboard-sidebar-wrapper {
  max-width: 16rem;
}

.dashboard-contents-container {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.dashboard-panel-wrapper {
  width: 36rem;
  min-width: 36rem;
  max-width: 36rem;
  border-left: 1px solid $gray-200;
}
