.notifications-container {
  margin-left: 1rem;
  color: $gray-500;
  height: 2.5rem;
  width: 2.5rem;
  position: relative;
  padding: 0.25rem;
  border-radius: 9999rem;
  cursor: pointer;

  &:hover {
    .notifications-icon {
      color: $gray-600;
    }

    .notification-count {
      background-color: $red-600;
    }
  }
}

.notifications-icon {
  height: 2rem;
  width: 2rem;
  fill: none;
  stroke-width: 2;
  transition: $transition;
}

.notification-count-container {
  position: absolute;
  right: 0px;
  top: 0px;
}

.notification-count {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  background-color: $red-500;
  color: white;
  transition: $transition;
}
